<div class="container">
  <div class="row">
    <div class="col"><h1 style="text-align: center">Welcome to Jam Factory</h1></div>
  </div>
  <hr>
  <div class="row">
    <div class="col"><h4><p class="text-success text-center my-3">Join a Jam Session or login to Spotify to create your own</p></h4></div>
  </div>
  <div class="row">
    <div class="col-2 offset-4">
      <input class="form-control" type="text" placeholder="Jam Label" maxlength="5">
    </div>
    <div class="col-2">
      <button class="btn btn-primary btn-block">Join Party</button>
    </div>
  </div>
  <div class="row">
    <div class="col-2 offset-5">
      <button class="btn btn-primary btn-block my-4" *ngIf="userStatus !== 'Host'">Login to Spotify</button>
      <button class="btn btn-primary btn-block my-4" *ngIf="userStatus === 'Host'">Login to Spotify</button>
    </div>
  </div>
  <hr>
</div>

<h5>Debug information:</h5>
<b>User Status: </b><span class="text-primary">{{userStatus}}</span><br>
<b>Linked Label: </b><span class="text-primary">{{userLabel}}</span><br>
<b>Spotify Auth Token: </b><span class="text-primary">{{spotifyAuthToken}}</span><br>






