<div class="container">
  <div class="row">
    <div class="col"><h1 style="text-align: center">Welcome to Jam Factory</h1></div>
  </div>
  <hr>
  <div class="row">
    <div class="col"><h4><p class="text-success text-center my-3">Join a Jam Session or login to Spotify to create your own</p></h4></div>
  </div>
  <form #joinSession="ngForm">
    <div class="row">
      <div class="col-2 offset-4">
        <input class="form-control" name="labelInput" type="text" placeholder="Jam Label" maxlength="5" [(ngModel)]="labelField">
      </div>
      <div class="col-2">
        <button class="btn btn-primary btn-block" (click)="join()">Join Party</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-2 offset-5">
      <button class="btn btn-primary btn-block my-4" *ngIf="userStatus !== 'Host'" (click)="login()">Login to Spotify</button>
      <button class="btn btn-primary btn-block my-4" *ngIf="userStatus === 'Host'" (click)="create()">Create new Jam Sesseion</button>
    </div>
  </div>
  <hr>
</div>

<h5>Debug information:</h5>
<b>User Status: </b><span class="text-primary">{{userStatus}}</span><br>
<b>Linked Label: </b><span class="text-primary">{{userLabel}}</span><br>






