<nav id="sidebar" style="padding-right: 20px">
  <div class="sidebar-header">
    <h3>Jam Session</h3>
    <h3>{{userStatus.label}}</h3>
    User Status: {{userStatus.user}}
  </div>
  <hr>

  <form #settings="ngForm" *ngIf="userStatus.user === 'Host'">

    <div class="form-group">
      <select class="custom-select" name="deviceSelect" [(ngModel)]="selectedDevice">
        <option selected="">Select your Playback Device</option>
        <option [value]="device.id" *ngFor="let device of avaliableDevices" >{{device.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="" name="ipVotingCheckbox" [(ngModel)]="ipVoting">
        <label class="custom-control-label" for="customSwitch1">Use IP Voting</label>
      </div>
    </div>
    <button class="btn btn-primary btn-block" (click)="saveSettings()">Update Settings</button>
    <hr>
  </form>
  <button class="btn btn-danger btn-block my-3" (click)="join()">Leave Party</button>
</nav>

