<nav id="sidebar" style="padding-right: 20px" *ngIf="userStatus.user === 'Host'">
  <div class="sidebar-header">
    <h3>{{partyName}}</h3>
    <h3>{{userStatus.label}}</h3>
    User Status: {{userStatus.user}}
  </div>
  <hr>

  <form #settings="ngForm" *ngIf="userStatus.user === 'Host'">

    <div class="form-group">
      <label for="deviceSelect">Select your Playback Device</label>
      <select class="custom-select" id="deviceSelect" name="deviceSelect" [(ngModel)]="selectedDevice">
        <option [value]="device.id" *ngFor="let device of avaliableDevices" >{{device.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="" name="ipVotingCheckbox" [(ngModel)]="ipVoting">
        <label class="custom-control-label" for="customSwitch1">Use IP Voting</label>
      </div>
    </div>
    <button class="btn btn-primary btn-block" (click)="saveSettings()">Update Settings</button>
    <hr>
  </form>

  <form #playlist="ngForm" *ngIf="userStatus.user === 'Host'">

    <div class="form-group">
      <label for="playlistSelect">Add fallback Playlist</label>
      <select class="custom-select" id="playlistSelect" name="playlistSelect" [(ngModel)]="selectedPlaylist">
        <option selected="">Select your Playback Device</option>
        <option [value]="playlist.id" *ngFor="let playlist of avaliablePlaylists" >{{playlist.name}}</option>
      </select>
    </div>
    <button class="btn btn-primary btn-block" (click)="addPlaylist()">Add Playlist to Queue</button>
    <hr>
  </form>


</nav>

